$primary-color: #202d36;
$secondary-color: #2b3945;

$text-secondary-color: #cbd5e1;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #202d36;
}
